/* MOBILE FIRST*/
/* 500px */
/* --------------------- */

/* Smartphone 530px */
@media screen and (min-width: 530px) {
    .side-bar {
        width: 160px;
    }

    .none-elements {
        display: inherit;
    }

    .logo-small {
        display: none;
    }

    .logo-big {
        display: block;
    }

    .logo {
        height: 75px;
    }

    .arrow {
        border-bottom: 1px solid white;
    }

    .folder {
        display: flex;
    }

    .folder :nth-child(1) {
        padding-right: 4px;
    }
}

/* Tablet Min-w 768px */
@media screen and (min-width: 768px) {
    .album {
        width: calc(25% - 10px);
    }
}

/* Desktop Min-w 1020px */
@media screen and (min-width: 1024px) {
    .album {
        width: calc(100% / 6 - 10px);
    }
}