/* MOBILE FIRST*/
/* 500px */
/* --------------------- */

/* Small T Min-w 530px */
@media screen and (min-width: 530px) {
    .side-bar {
        width: 200px;
    }

    .none-elements {
        display: inherit;
    }

}

/* Tablet Min-w 768px */
@media screen and (min-width: 768px) {
    .album {
        width: calc(25% - 10px);
    }

}

/* Desktop Min-w 1020px */
@media screen and (min-width: 1024px) {
    .album {
        width: calc(100% / 6 - 10px);
    }

}