* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }

  body {
    font-family: 'Montserrat', sans-serif;
  }

  a {
      text-decoration: none;
  }

  li {
      list-style-type: none;
  }

  .white-text {
      color: white;
  }

  .grey-text {
      color: #878787;
  }

  .main-container {
      width: 100%;
      height: calc(100vh - 60px);
      background-color: #141922;
      display: flex;
  }

  h1 {
      font-size: 22px;
      padding-top: 15px;
      padding-bottom: 30px;
  }

  h3 {
      font-size: 14px;
  }

  h4 {
      font-size: 13px;
      padding-left: 10px;
  }

  /* SideBar */
  .side-bar {
      height: 100%;
      width: 40px;
      background-color: black;
      flex-shrink: 0;
      display: flex;
      flex-direction: column;
      padding: 5px 8px 0px 8px;
  }

  .side-bar a {
      display: block;
  }

  .side-bar img {
      width: 24px;
      height: 24px;      
  }

  .logo, .home, .search, .library, .arrow, .user {
      padding-bottom: 8px;
      display: flex;
      align-items: center;
      position: relative;
  }

  .arrow {
      padding-top: 10px;
      padding-bottom: 0px;
  }

  #small-arrow {
      padding: 0px 4px 7px 4px;
  }

  #user-img {
      border-radius: 50%;
      background-color: #878787;
  }

  .user {
      padding-top: 12px;
  }

  .none-elements {
      display: none;
  }

  .up-sidebar, .down-sidebar {
      flex-shrink: 0;
  }

  .down-sidebar a {
      padding-bottom: 12px;
      padding-left: 6px;
      color: #878787;
      
  }
  
  /* sidebar - playlist */
  .playlist {
      display: flex;
      flex-direction: column;
      flex-grow: 1;
      padding: 10px 0px 10px 0px;
      overflow: hidden;
  }

  .names-playlist {
      flex-grow: 1;
      overflow: auto;
  }

  .side-bar p {
      padding-left: 5px;
  }

  .playlist li {
      padding: 8px 0px;
  }

  .playlist a {
      font-weight: 600;
  }

  .add-playlist a {
      display: flex;
      align-items: center;
  }

  .playlist i {
      font-size: 35px;
  }

  /* main */
  .main-section {
      flex-grow: 1;
      overflow: auto;
  }

  /* header */
  header {
      width: 100%;
      padding: 20px 5px 25px 0px;
      text-align: right;
      background-color: #070418ad;
  }

  #upgrade-button a {
      color: white;
      padding: 10px 30px;
      border: 1px solid white;
      border-radius: 20px;
      font-weight: 700;
      font-size: 13px;
      display: inline-block;
  }

  /* Navbar */
  .navbar {
      text-align: center;
      line-height: 50px;
  }

  .navbar li {
      display: inline-block;
      position: relative;
  }

  .navbar a {
    font-weight: 800;
    font-size: 13px;
    color: #878787;
    padding: 0px 6px;
    display: block;
  }

  /* Album Container */
  section {
      padding: 0px 16px 40px 16px;
  }

  .album-container {
      display: flex;
      flex-wrap: wrap;
      gap: 10px;
  }
  
  .img-container {
      position: relative;
  }

  .album {
      text-align: center;
      width: calc(50% - 10px);
  }

  .pad-b10 {
      padding-bottom: 10px;
  }

  .pad-t10 {
      padding-top: 10px;
  }

  .pad-t40 {
      padding-top: 40px;
  }

  .pad-t30 {
    padding-top: 30px;
}

.marg-neg {
    margin-top: -15px;
    padding-bottom: 25px;
}

  .small-text {
      font-size: 12px;
      font-weight: 700;
  }

  img {
      width: 100%;
  }

  .rounded-img {
      border-radius: 50%;
  }

  /* FOTER MUSIC PLAYER  */
  .music-player-bar {
      width: 100%;
      height: 60px;
      background-color: #282828;
      display: flex;
      position: relative;
      z-index: 99;
  }

  .player-buttons {
      display: flex;
      width: calc(100% - 340px);
      justify-content: center;
      flex-direction: column;
      align-items: center;
  }

  .side-buttons {
      display: flex;
      width: 170px;
  }

  .current-song {
      display: flex;
      padding: 18px 0px 16px 5px;
      align-items: center;
  }

  .side {
      width: 30px;
      text-align: center;
  } 
  
  .folder a {
      color: #5a5a5a;
  }

  .center-title {
      width: 50%;
  }

  .center-title p {
      padding-left: 10px;
  }

  .up-buttons, .down-buttons {
      display: flex;
  }

  .up-buttons {
      font-size: 16px;
      align-items: center;
  }

  .up-buttons i {
      padding: 0px 8px;
  }

  .up-buttons a {
      color: white;
  }

  #play-button {
      padding: 0px 12px;
      font-size: 25px;
  }

  .down-buttons {
      padding-top: 6px;
      width: 80%;
  }

  .reproduction-time {
      font-size: 11px;
      font-weight: 600;
  }

  .reprod-line {
      flex-grow: 1;
      padding: 5px 8px 0px 8px;
  }

  .line-style  {
      height: 4px;
      background-color: #5a5a5a;
      border-radius: 10px;
  }

  .volume {
      display: flex;
      align-items: center;
      padding-left: 15px;
  }

  .volume a {
      color: white;
      font-size: 12px;
      padding: 5px;
  }

  .line2 {
      width: 78px;  
      height: 30px;
      padding: 15px 5px 0px 5px;
  }



  /* HOVER-------- */
  #evidenza ::after {
    content: "";
    width: 45px;
    height: 2px;
    background-color: yellowgreen;
    position: absolute;
    bottom: 10px;
    left: 30px;
  }

  .navbar a:hover {
      color: white;
  }
     

  .home ::after {
      content: "";
      width: 3px;
      height: 36px;
      background-color: yellowgreen;
      position: absolute;
      left: -8px;
      top: -6px;
  }

  #upgrade-button a:hover {
      transform: scale(1.1);
      margin-right: 10px;
  }

  .img-container:hover .overlay {
      display: block;
  }

  .overlay {
      display: none;
      width: 100%;
      height: 99%;
      background-color: rgba(0, 0, 0, 0.295);
      position: absolute;
      top: 0;
      left: 0;   
  }

  .overlay i {
      position: absolute;
      top: calc(50% - 10px);
      left: 50%;
      transform: translate(-50%, -50%);
      color: white;
      font-size: 40px;
  }

  .over-radius {
      border-radius: 50%;
  }
  
  .side-bar a:hover {
      color: white;
  }

  .up-sidebar div:hover {
      color: white;
  }

  .center-title p:hover {
      text-decoration: underline;
  }

  .folder a:hover {
      color: white;
  }

  #play-button:hover {
      transform: scale(1.3);
  }

  .process-line {
    height: 4px;
    border-radius: 10px;
    width: 30%;
    background-color: #c1c1c1;
    position: relative;
  }

  .down-buttons:hover .process-line {
      background-color: #adff2f;
  }

  .round-mov {
      position: absolute;
      right: -5px;
      bottom: -3.5px;
      width: 12px;
      height: 12px;
      background-color: white;
      border-radius: 50%;
  }

  .line2:hover .process-line {
    background-color: #adff2f;
}




  

