* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }

  body {
    font-family: 'Montserrat', sans-serif;
  }

  a {
      text-decoration: none;
  }

  li {
      list-style-type: none;
  }

  .white-text {
      color: white;
  }

  .grey-text {
      color: #878787;
  }

  .main-container {
      width: 100%;
      height: calc(100vh - 60px);
      background-color: #141922;
      display: flex;
  }

  h1 {
      font-size: 22px;
      padding-top: 15px;
      padding-bottom: 30px;
  }

  h3 {
      font-size: 14px;
  }

  h4 {
      font-size: 13px;
      padding-left: 10px;
  }

  /* SideBar */
  .side-bar {
      height: 100%;
      width: 40px;
      background-color: black;
      flex-shrink: 0;
      display: flex;
      flex-direction: column;
      padding: 5px 8px 0px 8px;
  }

  .side-bar img {
      width: 24px;
      height: 24px;      
  }

  .logo, .home, .search, .library, .arrow, .user {
      padding-bottom: 8px;
      display: flex;
      align-items: center;
  }

  .arrow {
      padding-top: 10px;
      padding-bottom: 0px;
  }

  #small-arrow {
      padding: 0px 4px 7px 4px;
  }

  #user-img {
      border-radius: 50%;
      background-color: #878787;
  }

  .user {
      padding-top: 12px;
  }

  .none-elements {
      display: none;
  }

  .up-sidebar, .down-sidebar {
      flex-shrink: 0;
  }

  .down-sidebar {
      /* position: relative;
      z-index: 50; */
  }
  
  /* sidebar - playlist */
  .playlist {
      display: flex;
      flex-direction: column;
      flex-grow: 1;
      padding: 10px 0px 10px 0px;
      overflow: hidden;
  }

  .names-playlist {
      flex-grow: 1;
      overflow: auto;
  }

  .side-bar p {
      padding-left: 5px;
  }

  .playlist li {
      padding: 8px 0px;
  }

  .playlist a {
      font-weight: 600;
  }

  .add-playlist a {
      display: flex;
      align-items: center;
  }

  .playlist i {
      font-size: 35px;
  }

  /* main */
  .main-section {
      flex-grow: 1;
      overflow: auto;
  }

  /* header */
  header {
      width: 100%;
      padding: 20px 5px 25px 0px;
      text-align: right;
      background-color: #070418ad;
  }

  #upgrade-button a {
      color: white;
      padding: 10px 30px;
      border: 1px solid white;
      border-radius: 20px;
      font-weight: 700;
      font-size: 13px;
      display: inline-block;
  }

  /* Navbar */
  .navbar {
      text-align: center;
      line-height: 50px;
  }

  .navbar li {
      display: inline-block;
      
  }

  .navbar a {
    font-weight: 800;
    font-size: 13px;
    color: #878787;
    padding: 0px 6px;
  }

  /* Album Container */
  section {
      padding: 0px 16px 40px 16px;
  }

  .album-container {
      display: flex;
      flex-wrap: wrap;
      gap: 10px;
  }

  .album {
      text-align: center;
      width: calc(50% - 10px);
  }

  .pad-b10 {
      padding-bottom: 10px;
  }

  .pad-t40 {
      padding-top: 40px;
  }

  .pad-t30 {
    padding-top: 30px;
}

  .small-text {
      font-size: 12px;
      font-weight: 700;
  }

  img {
      width: 100%;
  }

  .rounded-img {
      border-radius: 50%;
  }

  .marg-p-main {
    margin-top: -15px;
    padding-bottom: 28px;    
  }

  /* FOTER MUSIC PLAYER  */
  .music-player-bar {
      width: 100%;
      height: 60px;
      background-color: #282828;
      display: flex;
      position: relative;
      z-index: 99;
  }

  .player-buttons {
      display: flex;
      flex-grow: 5;
      justify-content: center;
      flex-direction: column;
      align-items: center;
  }

  .side-buttons {
      display: flex;
      /* flex-grow: 1; */
      width: 20%;
  }

  .current-song {
      display: flex;
      padding: 20px 0px 20px 5px;
      align-items: center;
  }

  .side {
      width: 25%;
      text-align: center;
  }    

  .center-title {
      width: 50%;
  }

  .center-title p {
      padding-left: 10px;
  }

  .up-buttons, .down-buttons {
      display: flex;
  }

  .reproduction-time {
      font-size: 11px;
      font-weight: 600;
  }

  .reprod-line {
      min-width: 160px;
      padding: 5px 8px 0px 8px;
  }

  .reprod-line div {
      height: 4px;
      background-color: #878787;
      border-radius: 10px;
  }